*{
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
}
#body_login{
color: white;
background-image: url(../img/secre.jpg);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
height: 50%;

}
#space{
    height: 25rem;
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title{
    display: flex;
    align-items: center;
}
#logo{
    width: 50px;
}
#register{
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-top: 1rem;
    width: 12rem;
    height: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
}
#login{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 2rem;
    background-color: rgba(128, 128, 128, 0.621);
    border-radius: 8px;
}
#a_index{
    text-decoration: none;
    color: rgb(29, 145, 217);
}
#a_index h4{
    color: white;
}
#p_index{
    text-align: center;
    margin: 4px;
    width: 13rem;
    font-size: 14px;
}

/* estilos para el login */

#cabeza_login{
    margin: 1rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    
}

#back{
    margin: 5px;
    width: 20px;
    height: 20px;
}
#login2{
    margin-left: 1rem;
}
#main_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    
}
.email_title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1.5rem;
}
input{
    border-radius: 10px;
    height: 1.8rem;
    width: 90%;
    border: solid#0073ff88 2px;

}

#enter{
    color: rgba(128, 128, 128, 0.591);
}
#forgot{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}
#forgot a{
    color: grey;
}
#boton_login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0072ff;
    border-radius: 8px;
    height: 2rem;
    width: 90%;
    margin: 2rem 1rem 1rem 1rem;

}
#boton_login a{
    color: #f9f9f9;
    text-decoration: none;
    
}
#line{
    display: flex;
    justify-content: center;
    align-items: center;


}
hr{
   width: 90px;


}
.logos_redes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
#redes{
    width: 40px;
    height: 40px;
}

footer{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#boton_register{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0073ff63;
    border-radius: 8px;
    height: 2rem;
    width: 90%;
    margin: 1rem;
    
}
#boton_register a{
    text-decoration: none;
    color: #0072ff;
}
#or{
    margin: 5px;
    color: #0072ff;
}



@media(min-width: 400px){
    #main_login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
        
    }
    .email_title{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 1.5rem;
    }
    input{
        border-radius: 10px;
        height: 1.8rem;
        width: 20rem;
        border: solid#0073ff88 2px;
    
    }
   

    #cabeza_login{
        margin: 1rem;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    #boton_login{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0072ff;
        border-radius: 8px;
        height: 2rem;
        width: 20rem;
        margin: 1rem;
    
    }

    #line{
        display: flex;
        justify-content: center;
        align-items: center;
       
    
    }
}

/* estilos perfil */
#cabeza_login2{
    margin: 1rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#inter_log{
    display: flex;
    align-items: center;
}
.main_profile{
    display: flex;
    align-items: center;
    flex-direction: column;

}

#perfil1{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
}
.coach{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.coach h3{
    margin: 10px;
}

#elonk{
    width: 10rem;
    border-radius: 1rem;
}
#type{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.africa{
    display: flex;
}
#flag{
    width: 1rem;
    height: 0.8rem;
}
#price{
    width: 1rem;
    margin-right:10px ;
}
#data{
    display: flex;
    margin: 1rem;


}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}
.articles{
    margin: 1rem;
}
#arti_logo{
    width: 3rem;
    margin-left: 1rem;
}
.teaches{

    display: flex;
    flex-direction: column;
    width: 90%;
    
}
#skill{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: auto;
    border-radius: 10px;
    margin-left:1rem ;
    margin-top: 0.5rem;
    background-color: #0073ff83;
}
#skills{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#skill p{
    margin: 5px;
    color: #0072ff;
}
.speaks{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.menu_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
}
.menu_bar{
    bottom: 0;
    overflow: hidden;
    position: fixed;

    border-radius: 10px 10px 0px 0px ;
}

#bar_icon{
    width: 2.5rem;
    height: 2.5rem;
}
#chat{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:10px;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
}
#bubble{
    width:60px;
    height:60px;
}
#blue{
    color: #0072ff;
    margin: 0 0.5rem 0 0.3rem;
}









